.header__logo {
  width: 142px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-left: 30px;
    align-self: flex-start;
  }
}


@media screen and (max-width: 426px) {
  .header__logo {
    width: 103px;
  }
}
