.login__button {
    width: 100%;
    padding: 14px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.1s linear;
}

.login__button:hover {
    cursor: pointer;
    opacity: 0.85;
}

@media screen and (max-width: 767px) {
  .login__button {
    font-size: 16px;
    line-height: 20px;
  }
}