.register__link {
  color: #fff;
  text-decoration: none;
  margin: 15px 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 10px;
}

.register__link:hover {
  opacity: 0.6;
}

.register__link:visited {
  color: #fff;
}

.register__link:active {
  text-decoration: underline;
}
