.header__button {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.header__button:focus {
  outline: 0;
}



